* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
    box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between*/
    align-items: flex-start;
}

/*-------------------------------------------------*/

/*HEADER*/

.logo {
    display: flex;
    background-color:rgb(66, 65, 65);
    padding: 0px 16px 0px 16px;
    color: black;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

.barra-de-navegacion {
    display: flex;
    padding: 19px 15px 2px 250px;
    /*position: fixed;*/
}

/* Style the links inside the navigation bar */
.topnav a {
    display: flex;
    float: left;
    color: #131212;
    text-align: center;
    padding: 8px 15px 2px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: Raleway;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(66, 65, 65);
    color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #252525;
    color: white;
}

.shopping-cart-icon {
    display: flex;
    width: 50px;
    padding: 15px 35px 15px 165px;
    text-align: right; /*el icono es interpretado como texto*/
    font-size: 18px; /*el icono es interpretado como texto*/
}

.search-icon {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px 15px 15px 15px;
    text-align: center; /*el icono es interpretado como texto*/
    font-size: 18px; /*el icono es interpretado como texto*/
    margin: auto; /*puedo utilizar auto porque es un elemento de bloque*/
}

.user-icon {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px 15px 15px 15px;
    text-align: center; /*el icono es interpretado como texto*/
    font-size: 18px; /*el icono es interpretado como texto*/
    margin: auto; /*puedo utilizar auto porque es un elemento de bloque*/
}

/*-------------------------------------------------*/

/*BODY INDEX*/

.slider-principal {
    display: flex;
    margin: 5px 0px 0px 0px;
    background-color:rgb(66, 65, 65);
    padding: 0px 16px 0px 16px;
    color: black;
    text-align: center;
    width: auto;
    height: 380px;
}

/*-------------------------------------------------*/

/*FOOTER*/

.footer-principal {
    display: flex;
    margin: 5px 0px 0px 0px;
    background-color:black;
    padding: 0px 16px 0px 16px;
    width: auto;
    height: 173px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(61, 61, 61);
    list-style: none;
}

/*LOGO DEL FOOTER*/

.logo-secundario {
    display: flex;
    /*align-items: center;*/
    background-color:rgb(66, 65, 65);
    margin: 5px 15px 15px 10px;
    padding: 0px 16px 0px 16px;
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 5px;

}

/*LISTAS DEL FOOTER*/

.links-footer-shop {
    display: flex;
    font-family: Raleway;
    font-size: 14px;
    color: white;
    
}

.links-footer-unite {
    display: flex;
    font-family: Raleway;
    font-size: 14px;
    color: white;
    
}

.links-footer-info {
    display: flex;
    font-family: Raleway;
    font-size: 14px;
    color: white;
    
}



.insta-icon {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px 15px 15px 15px;
    text-align: center; /*el icono es interpretado como texto*/
    font-size: 50px; /*el icono es interpretado como texto*/
    margin: 0px 0px 0px 300px; 

}

.face-icon {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px 15px 15px 15px;
    text-align: center; /*el icono es interpretado como texto*/
    font-size: 50px; /*el icono es interpretado como texto*/
    margin: 0px 0px 0px 0px; 
}

.tw-icon {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px 15px 15px 15px;
    text-align: center; /*el icono es interpretado como texto*/
    font-size: 50px; /*el icono es interpretado como texto*/
    margin: 0px 20px 0px 0px; 
}

.footer-secundario { /* AYUDA no estoy pudiendo centrar el texto de forma vertical*/
    /*display: flex;*/
    margin: 1px 0px 0px 0px;
    background-color:black;
    padding: 1px 16px 5px 16px;
    width: auto;
    height: 27px;
    text-align: center;
    /*flex-direction:column;
    flex-wrap: none;
    align-items: center;*/
    
    
    color: white;
    font-family: Raleway;
    
    font-size: 10px;
    
}

/*-------------------------------------------------*/

/*MEDIA QUERIES*/








