* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
    box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

a { 
    color: inherit; /*le saco el color a los links*/
    background-color: transparent;
    text-decoration: none;
  }

/*-------------------------------------------------*/

/*HEADER*/

.logo {
    display: flex;
    padding: 0px 16px 0px 16px;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    margin-bottom: 0px;
    
}

.logo img {
    width:100%;
    border-radius: 5px;
}
.barra-de-navegacion {
    display: flex;
    align-self: flex-end;
    margin-left: 10%;
    flex-grow: 1;
    /*padding: 0px 15px 0px 15px;*/
    
    
}

/* Style the links inside the navigation bar */
.topnav a {
    display: flex;
    
    float: left;
    color: #131212;
    text-align: center;
    padding: 8px 15px 2px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: Raleway;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(66, 65, 65);
    color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #252525;
    color: white;
}

.nav-bar-icons {
    display: flex;
    align-items: flex-end;
    padding: 0px 16px 0px 16px;
    text-align: center; /*el icono es interpretado como texto*/
    font-size: 25px; /*el icono es interpretado como texto*/
    
}


/*-------------------------------------------------*/

/*BODY INDEX*/

.slider-principal {
    display: flex;
    margin: 5px 0px 0px 0px;
    background-color:rgb(66, 65, 65);
    padding: 0px 16px 0px 16px;
    color: black;
    text-align: center;
    width: auto;
    height: 342px;
}

/*-------------------------------------------------*/

/*BODY SHOPPING CART*/

.shopping-cart {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: #FFFFFF;
    border: solid 1px;
    padding: 20px;
  }

.title {
    color:black;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}
   
.item {
    display: flex;
    border-bottom:  1px solid black;
    padding: 20px 30px;
    height: 120px;
}
   
.buttons {
    padding-top: 30px;
    margin-right: 60px;
}

.delete-btn {
    display: inline-block;
}

.image {
    margin-right: 50px;
}
   
.description {
    padding-top: 10px;
    margin: auto;
    width: 115px;
}
   
.description span {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.quantity {
    padding-top: 20px;
    margin: auto;
}
  
.quantity input{
    border: none;
    text-align: center;
    width: 20px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.total-price {
    margin: auto;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
}

/*-------------------------------------------------*/

/*FOOTER*/

.footer-principal {
    display: flex;
    justify-content: space-between;
    background-color:black;
    padding: 0px 16px 0px 16px;
    width: auto;
    height: 173px;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(61, 61, 61);
}

/*LOGO DEL FOOTER*/

.logo-secundario {
    display: flex;
    align-self: center;
    padding: 16px;
    width: 120px;
    border-radius: 5px;
    background-color: white;
}

.logo-secundario img {
    width:100%;
    border-radius: 5px;
}

.endnav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px 30px 2px 30px;
    align-self: flex-start;
}

/* Style the links inside the navigation bar */
.endnav a {
    display: flex;
    float: left;
    color: white;
    text-align: center;
    padding: 8px 15px 2px 15px;
    text-decoration: none;
    font-size: 12px;
    font-family: Raleway;
}
/* Change the color of links on hover */
.endnav a:hover {
    background-color: rgb(66, 65, 65);
    color: white;
}
/* Add a color to the active/current link */
.endnav a.active {
    background-color: #252525;
    color: white;
}

/*-------------------------------------------------*/

.footer-icon {
    display: flex;
    align-self: flex-start;
    margin-top: 12px;
    width: 50px;
    text-align: center; /*el icono es interpretado como texto*/
    font-size: 50px; /*el icono es interpretado como texto*/
    
}


/*-------------------------------------------------*/

.footer-secundario { 
    margin: 1px 0px 0px 0px;
    background-color:black;
    padding: 1px 16px 5px 16px;
    width: auto;
    height: 27px;
    text-align: center;
    flex-wrap: none;
    align-items: center;
    color: white;
    font-family: Raleway;
    font-size: 10px;
}
/*LOGIN Y REGISTER*/
.form-container{
    width:50vh;
    height:50vh;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px #000;
    position:absolute;
    top:15vh;
}
.bgLogin{
    background:black;
    width:100%;
    height:100vh;
    background-size:100%;
}
/*-------------------------------------------------*/

/*MEDIA QUERIES*/








