<section class="CentroB">  
    <div class="envio">
        <h5>PRODUCTO DISPONIBLE</h5>
        <p>Envío en 24/72 hs<br>
            Ver Condiciones<br>
        <i class="fas fa-truck"></i>
    </p>
    </div>
    <div class="pago">            
        <h5>FORMAS DE PAGO</h5>
        <p>Hasta en 12 cuotas<br>
            Tarjeta de Crédito<br>
        <i class="fas fa-credit-card"></i>
        </p>
    </div>
    <div class="compraSegura">            
        <h5>COMPRA SEGURA</h5>
        <p>Si no te queda<br>
            devolvelo!<br>
        <i class="fas fa-shopping-bag"></i>
        </p>
    </div>
</section>