<!-- Mostrar las categorías destacadas -->

<div class="category-wrapper">
    <section class="randomCategory">
        <img src="images/design/category_images/capCategory.jpg" alt="Imagen de categoría">
            </section>
                <section class="randomCategory">
                    <img src="images/design/category_images/hoodieCategory.jpg" alt="Imagen de categoría">
                </section>
            <section class="randomCategory">
        <img src="images/design/category_images/tshirtCategory.jpg" alt="Imagen de categoría">
    </section>
</div> 