<!-- Mostrar las categorías destacadas -->

<div class="category-wrapper">
    <section class="randomCategory">
        <img src="images/design/category_images/imagen_muestra_1.jpg" alt="imagen de producto">
            </section>
                <section class="randomCategory">
                    <img src="images/design/category_images/imagen_muestra_2.jpg" alt="imagen de producto">
                </section>
            <section class="randomCategory">
        <img src="images/design/category_images/imagen_muestra_3.jpg" alt="imagen de producto">
    </section>
</div> 