<!-- Mostrar las categorías destacadas -->

<div class="category-wrapper">
    <section class="randomCategory">
        <a href="/products/category/accesories"><img src="/images/design/category_images/capCategory.jpg" alt="Imagen de categoría"></a>
            </section>
                <section class="randomCategory">
                    <a href="/products/category/hoodies"><img src="/images/design/category_images/hoodieCategory.jpg" alt="Imagen de categoría"></a>
                </section>
            <section class="randomCategory">
                <a href="/products/category/shirts"><img src="/images/design/category_images/tshirtCategory.jpg" alt="Imagen de categoría"></a>
    </section>
</div> 