<footer class="footer-principal">

    <div class="logo-secundario">
        <a href="/"><img src="/images/design/logo-4.png" alt="logo Madly"></a>

    </div>

    <div class="endnav">
        <a class="active" href="#shop">SHOP</a>
        <a href="/products/category/shirts">Remeras</a>
        <a href="/products/category/hoodies">Buzos</a>
        <a href="/products/reactCustomize">Crea tu diseño</a>
        <a href="/products/category/accesories">Accesorios</a>
        <a href="#NOVEDADES">Últimos Lanzamientos</a>
        <a href="#SALE">SALE</a>
    </div>

    <div class="endnav">
        <a class="active" href="#unite">UNITE</a>
        <% if (!userLogged) { %>
        <a href="/users/register">Registrate</a>
        <a href="/users/login">Login</a>
        <% } else { %>
        <a href="/users/profile">Perfil de usuario</a>
        <% } %> 
        <a href="#promociones">Promociones</a>
    
    </div>

    <div class="endnav">
        <a class="active" href="#info">INFO</a>
        <a href="/products/pymMethod">Formas de Pago</a>
        <a href="/products/eShipping">Envíos y Entregas</a>
        <a href="/products/returns">Reclamos y Devoluciones</a>
    </div>

    <div class="endnav">
        <a class="active" href="#ayuda">AYUDA</a>
        <a href="/products/customerService">Atención al Cliente</a>
        <a href="/products/questions">Preguntas Frecuentes</a>
    </div>

    <div class="footer-icon">
        <a href="#instagram"><i class="fab fa-instagram-square"></i></a>
        <a href="#facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="#twitter"><i class="fab fa-twitter-square"></i></a>
    </div>

    <div class="footer-icon-message">
        <i class="far fa-comment-dots"></i>
    </div>

</footer>
    <div class="footer-secundario">
        <p>2020-2021</p>
    </div>