<footer class="footer-principal">

    <div class="logo-secundario">
        <a href="index"><img src="images/logo-1.jpeg" alt="logo Madly"></a>

    </div>

    <div class="endnav">
        <a class="active" href="#shop">SHOP</a>
        <a href="listadoProductos">Remeras</a>
        <a href="listadoProductos">Buzos</a>
        <a href="listadoProductos">Diseños</a>
        <a href="listadoProductos">Accesorios</a>
        <a href="producto">Producto</a>
    </div>

    <div class="endnav">
        <a class="active" href="#unite">UNITE</a>
        <a href="register">Registrate</a>
        <a href="login">Login</a>
        <a href="#promociones">Promociones</a>
    
    </div>

    <div class="endnav">
        <a class="active" href="#info">INFO</a>
        <a href="#nosotros">Nosotros</a>
        <a href="#tu compra">Tu compra</a>
        <a href="#formas de pago">Formas de Pago</a>
        <a href="#envios">Envíos</a>
        <a href="#devoluciones">Devoluciones</a>
    </div>

    <div class="endnav">
        <a class="active" href="#ayuda">AYUDA</a>
        <a href="#atencion al cliente">Atención al Cliente</a>
        <a href="#compra segura">Compra Segura</a>
        <a href="#preguntas frecuentes">Preguntas Frecuentes</a>
        <a href="#reclamos">Reclamos</a>
    </div>

    <div class="footer-icon">
        <a href="#instagram"><i class="fab fa-instagram-square"></i></a>
        <a href="#facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="#twitter"><i class="fab fa-twitter-square"></i></a>
    </div>

    <div class="footer-icon-message">
        <i class="far fa-comment-dots"></i>
    </div>

</footer>
    <div class="footer-secundario">
        <p>2020-2021</p>
    </div>