<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madly</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/styles-bannerInfo.css">
    <link rel="stylesheet" href="/css/styles-categoryBanner.css">
    <link rel="stylesheet" href="/css/styles-customerService.css">
    <link rel="stylesheet" href="/css/styles-error404.css">
    <link rel="stylesheet" href="/css/styles-eShipping.css">
    <link rel="stylesheet" href="/css/styles-footer.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-index.css">
    <link rel="stylesheet" href="/css/styles-listadoProductos.css">
    <link rel="stylesheet" href="/css/styles-login-register.css">
    <link rel="stylesheet" href="/css/styles-productForm.css">
    <link rel="stylesheet" href="/css/styles-producto.css">
    <link rel="stylesheet" href="/css/styles-profile.css">
    <link rel="stylesheet" href="/css/styles-pymMethod.css">
    <link rel="stylesheet" href="/css/styles-questions.css">
    <link rel="stylesheet" href="/css/styles-returns.css">
    <link rel="stylesheet" href="/css/styles-shoppingCart.css">
    
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css" crossorigin="anonymous">
    
    <!-- <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css" crossorigin="anonymous"> -->
    
    <script src="https://kit.fontawesome.com/42d391c3ad.js" crossorigin="anonymous"></script>
</head>