<header class="flex-box">
    <div class="logo">
        <a href="/"><img src="/images/logo-1.jpeg" alt="logo Madly"></a>
    </div>
    
    <div class="barra-de-navegacion">
        <div class="topnav">
            <a href="/">INICIO</a>
            <a href="/products">REMERAS</a>
            <a href="/products">BUZOS</a>
            <a href="/products">DISEÑOS</a>
            <a href="/products">ACCESORIOS</a>
            <a href="#">ULTIMOS LANZAMIENTOS</a>
        </div>
    </div>

    <div class="burger-menu">
        <button class="burger-btn"><i class="fas fa-bars"></i></button>
        <div class="topnav">
            <a href="/">INICIO</a>
            <a href="/products">REMERAS</a>
            <a href="/products">BUZOS</a>
            <a href="/products">DISEÑOS</a>
            <a href="/products">ACCESORIOS</a>
            <a href="#">ULTIMOS LANZAMIENTOS</a>
        </div>
        
      </div>

    <div class="nav-bar-icons">
        <a href="/products/ShoppingCart"><button id="iconosNav" class="fas fa-shopping-cart"></button></a>
        <div class="dropdown">
        <a href=#buscar><button id="iconosNav" class="fas fa-search"></button></a>
        </div>
        <div class="dropdown-content">
        <p>Qué estás buscando?</p>
        </div>
        <a href="/users/login"><button id="iconosNav" class="fas fa-user"></button></a>
    </div>
</header>