<header class="flex-box">
    <div class="logo">
        <a href="/"><img src="/images/design/logo-1.jpeg" alt="logo Madly"></a>
    </div>
    
    <div class="barra-de-navegacion">
        <div class="topnav">
            <a href="/">INICIO</a>
            <a href="/products?categoria=remeras">REMERAS</a>
            <a href="/products?categoria=buzos">BUZOS</a>
            <a href="/products/reactCustomize">CREÁ TU DISEÑO</a>
            <a href="/products?categoria=accesorios">ACCESORIOS</a>
            <a href="#">ULTIMOS LANZAMIENTOS</a>
        </div>
    </div>
    <div class="barra-iconos">

        <div class="burger-menu">
            <button id="burger-btn"><i class="fas fa-bars"></i></button>
            <div class="topnav-burger">
                <a href="/">INICIO</a>
                <a href="/products?categoria=remeras">REMERAS</a>
                <a href="/products?categoria=buzos">BUZOS</a>
                <a href="/products/reactCustomize">CREÁ TU DISEÑO</a>
                <a href="/products?categoria=accesorios">ACCESORIOS</a>
                <a href="#">ULTIMOS LANZAMIENTOS</a>
            </div>
        </div>

        <a href="/products/cart"><button id="iconosNav" class="fas fa-shopping-cart"></button></a>
            <div class="dropdown">
                <a href=#buscar><button id="iconosNav" class="fas fa-search"></button></a>
                    <div class="dropdown-searchField">
                        <%- include('../partials/searchField'); %>
                    </div>
            </div>
        <a href="/users/login"><button id="iconosNav" class="fas fa-user"></button></a>
    </div>
</header>