<section class="barraBusqueda">        
    <form action="/products/search" method="GET">
        <input id="searchInput" type="text" name="keywords" placeholder="Buscar" size="40">
        <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
    </form>
</section>