* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
    box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
    scrollbar-width: none;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

a { 
    color: inherit; /*le saco el color a los links*/
    background-color: transparent;
    text-decoration: none;
  }

/*-------------------------------------------------*/

/*HEADER*/

.logo {
    display: flex;
    padding: 2px 16px 2px 16px;
    text-align: center;
    width: 140px;
    height: 80px;
    border-radius: 5px;    
}



.logo img {
    width:100%;
    border-radius: 5px;
    animation-name: animationLogo;
    animation-duration: 10s;
   
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    
    
}

@keyframes animationLogo {
    0% { width: 100%;}
    40% {width: 100%;}
    50% {width: 80%}
    60% { width: 100%;}
    100% { width: 100%;}

}

.barra-de-navegacion {
    display: flex;
    align-self: flex-end;
    margin-left: 10%;
    flex-grow: 1; 
}

/* Style the links inside the navigation bar */
.topnav a {
    display: flex;
    
    float: left;
    color: #131212;
    text-align: center;
    padding: 8px 15px 2px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: Raleway;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #1985A1;
    color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #1985A1;
    color: white;
}

.nav-bar-icons {
    display: flex;
    align-items: flex-end;
    padding: 0px 8px 0px 8px;
    
}

#iconosNav {
    text-decoration: none;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border: none;
    
    border: none;
    color: #1985A1;

    
    opacity: 0.6;
    transition: 0.3s;
    
    text-decoration: none;
    cursor: pointer;
}

#iconosNav:hover {opacity: 1}

.dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 5px 2px 5px;
    text-align: center;
    font-family: "Open Sans";
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    right: 15px;
    top: 35px;

  }


/*-------------------------------------------------*/

/*BODY INDEX*/

.slider-principal {
    display: flex;
    margin: 5px 0px 0px 0px;
    background-color:rgb(66, 65, 65);
    color: black;
    text-align: center;
    width: auto;
    height: 360px;
    
    
}

/*BODY SHOPPING CART*/

.cart .table tbody tr td{
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
    text-align: center;
}
.cart{
    font-family: "Open Sans", sans-serif;
}

.cart th {
    text-align: center;

}

.counter{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.counter i{
    padding: 5px;
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
}

.counter .input-number{
    padding: 5px;
    position: relative;
    width: 15%;
    text-align: center;
}

.checkout ul{
    font-family: "Open Sans", sans-serif;
    border: 2px solid #DCDCDD;
    background: #f3f3f3;
    padding-left:15px;
    padding-right:15px;
    padding-top:16px;
    padding-bottom: 15px;
}

.checkout ul li{
    list-style: none;
    font-size:16px;
    font-weight: bold;
    color:#46494C;
    text-transform: uppercase;
    overflow: hidden;
}

.checkout ul li.subtotal, li.iva-price {
    font-weight: bold;
    text-transform: capitalize;
    border-bottom:1px solid #fff;
    padding-bottom: 14px;
}

.checkout ul li.subtotal span, li.iva-price{
    font-weight: bold;
}

.checkout ul li.cart-total{
    padding-top: 10px
}

.checkout ul li.cart-total span{
    color:#1985A1;
}

.checkout ul li span{
    float:right;
}

.checkout .checkout-btn{
    font-family: "Open Sans";
    font-size:15px;
    font-weight: bold;
    color:#fff;
    background:#46494C;
    text-transform: uppercase;
    padding:15px 25px 14px 25px;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

/*-------------------------------------------------*/

/*PRODUCT LIST*/


.container-fluid{
    margin-top: 15px;
    font-family: "Open Sans";
    margin-bottom: 10px;
}
.col-8 {
    margin: auto;
}

.col-2 {
    text-align: center
}

.filter-type div{
    margin: 15px;
}    


.filter-list{
    display: flex;
    flex-direction: row;
    width: 300px;
    border: solid 1px #4C5C68 ;
    margin: auto;
    font-size: 10px;
}
 
.grid-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-type div{
    margin-bottom: 10px;
}


@media (min-width:760px){
    
    .product-list-main{
        flex-direction: row;
    }

    .filter-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        font-size: 11px;
        margin: 5px;
    }

    .filter-list h3{
        text-align: center;
    }

    .filter-list h2{
        display: flex;
        justify-content: center;
    }

    .filter-type{
        align-items: center;
        border-bottom: solid 1px black;
        margin: 0px 3px 0px 3px;
    }    

    .grid-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1px;
    }

    .product-item{
        width: 300px;
        border: 1px solid #4C5C68;
        margin: 1%;
        display: inline-block;
        text-align: center;
        background-color: #DCDCDD;
        box-shadow : 0px 0px 8px rgb(138, 137, 137);
    }
}

@media (min-width:1200px){
    .product-list-main{
        flex-direction: row;
        margin: auto    ;
    }
    .filter-list{
        display: flex;
        flex-direction: column;
        width: 18%;
        font-size: 15px;
        margin: 10px;
    }
    .grid-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    .filter-type{
        border-bottom: solid 1px black;
        margin: 0px 15px 0px 15px;
    }
    .product-item{
        width: 320px;
    }

}

/*-------------------------------------------------*/

/*FOOTER*/

.footer-principal {
    display: flex;
    justify-content: space-between;
    background-color:black;
    padding: 0px 16px 0px 16px;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(61, 61, 61);
}

.logo-secundario {
    display: flex;
    align-self: center;
    padding: 16px;
    width: 120px;
    border-radius: 5px;
    background-color: white;
}

.logo-secundario img {
    width:100%;
    border-radius: 5px;
}

.endnav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px 30px 2px 30px;
    align-self: flex-start;
    
}

/* Style the links inside the navigation bar */
.endnav a {
    display: flex;
    float: left;
    color: white;
    text-align: center;
    padding: 8px 15px 2px 15px;
    text-decoration: none;
    font-size: 12px;
    font-family: Raleway;
}
/* Change the color of links on hover */
.endnav a:hover {
    background-color: rgb(66, 65, 65);
    color: white;
    border-radius: 3px;
}
/* Add a color to the active/current link */
.endnav a.active {
    background-color: #252525;
    color: white;
    border-radius: 3px;
}

/*-------------------------------------------------*/

.footer-icon {
    display: flex;
    align-self: flex-start;
    width: 50px;
    text-align: center; /*el icono es interpretado como texto*/
    font-size: 50px; /*el icono es interpretado como texto*/
}

.footer-icon-message {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 35px 35px 40px 35px;
    align-self: flex-end;
    margin: auto;
    font-size: 75px;
    color: #1985A1;
    opacity: 0.6;
}

.footer-icon-message:hover {
    opacity: 1;
}


/*-------------------------------------------------*/

.footer-secundario { 
    margin: 1px 0px 0px 0px;
    background-color:black;
    padding: 1px 16px 5px 16px;
    width: auto;
    height: 27px;
    text-align: center;
    flex-wrap: none;
    align-items: center;
    color: white;
    font-family: Raleway;
    font-size: 10px;
}

/*-------------------------------------------------*/

/*LOGIN Y REGISTER*/

.form-container{
    width:50vh;
    height:50vh;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px #000;
    position:absolute;
    top:15vh;
}
.bgLogin{
    background:black;
    width:100%;
    height:100vh;
    background-size:100%;
}
/*-------------------------------------------------*/

/*MEDIA QUERIES*/








