/*HEADER*/
* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
    box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
    scrollbar-width: none;
}

a { 
    color: inherit; /*le saco el color a los links*/
    background-color: transparent;
    text-decoration: none;
  }

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid rgb(43, 43, 43);
    padding-bottom: 5px;
    padding-top: 5px;
}

.logo {
    display: flex;
    padding: 0px 16px 0px 16px;
    text-align: center;
    width: 140px;
    height: 80px;
}

.logo img {
    width:100%;
    border-radius: 5px;
    animation-name: animationLogo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes animationLogo {
    0% { width: 100%;}
    40% {width: 100%;}
    50% {width: 80%}
    60% { width: 100%;}
    100% { width: 100%;}
}

.barra-de-navegacion {
    display: none;
    flex-wrap: nowrap;
    align-self: flex-end;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: flex;
    flex-wrap: nowrap;
    float: left;
    color: #131212;
    text-align: center;
    padding: 8px 15px 2px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: Raleway;
    font-weight: 600
}
/* Change the color of links on hover */
.topnav a:hover {
    color: #1985A1;
    
}

/*Add a color to the active/current link
.topnav a .active {
    background-color: #1985A1;
    color: rgb(114, 39, 39);
}*/

.barra-iconos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 8px 0px 0px;
    flex-grow: 1;
}


.burger-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
}

.topnav-burger {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 30vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
    border-radius: 2px;
    top: 15vh;
    z-index: 2;
}

.topnav-burger a {
    color: rgb(34, 34, 34);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 3vw;
    font-family: Raleway;
    font-weight: 800
}

.topnav-burger a:hover {color: rgb(119, 119, 119)}

.burger-menu:hover .topnav-burger {
    display: block;
}

.burger-menu:hover #burger-btn {
   color: #1985A1;
   border: none;
   text-decoration: none;
}

#burger-btn {
    text-decoration: none;
    background-color: transparent ;
    text-align: center;
    border: none;
    border-radius: 2px;
    color: #3a3a3a;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
    font-size: 30px;
}

#iconosNav {
    text-decoration: none;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border: none;
    color: #1985A1;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
}

#iconosNav:hover {
    opacity: 1
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 5px 2px 5px;
    text-align: center;
    font-family: "Open Sans";
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    right: 15px;
    top: 35px;
}

/*-------------------------------------*/

/*MEDIA QUERIES*/
/*MEDIA QUERIES 767-1024PX*/

@media screen and (min-width: 767px) {
    .topnav-burger {
        width: 30vw;
        top: 18vh;
        z-index: 2;
    }
    
    .topnav-burger a {
        font-size: 2vw;
    }
}


/*MEDIA QUERIES 1024PX max*/

@media screen and (min-width: 1025px) {
    .barra-de-navegacion {
        display: flex;
    }

    .burger-menu {
        display: none;
    }
}