* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
    box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

a { 
    color: inherit; /*le saco el color a los links*/
    background-color: transparent;
    text-decoration: none;
  }

/*-------------------------------------------------*/

/*HEADER*/

.logo {
    display: flex;
    padding: 0px 16px 0px 16px;
    text-align: center;
    width: 140px;
    border-radius: 5px;    
}

.logo img {
    width:100%;
    border-radius: 5px;
}
.barra-de-navegacion {
    display: flex;
    align-self: flex-end;
    margin-left: 10%;
    flex-grow: 1; 
}

/* Style the links inside the navigation bar */
.topnav a {
    display: flex;
    
    float: left;
    color: #131212;
    text-align: center;
    padding: 8px 15px 2px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: Raleway;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(66, 65, 65);
    color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #252525;
    color: white;
}

.nav-bar-icons {
    display: flex;
    align-items: flex-end;
    padding: 0px 16px 0px 16px;
    text-align: center; /*el icono es interpretado como texto*/
    font-size: 25px; /*el icono es interpretado como texto*/
    
}


/*-------------------------------------------------*/

/*BODY INDEX*/

.slider-principal {
    display: flex;
    margin: 5px 0px 0px 0px;
    background-color:rgb(66, 65, 65);
    padding: 0px 16px 0px 16px;
    color: black;
    text-align: center;
    width: auto;
    height: 342px;
}



/*-------------------------------------------------*/

/*BODY PRODUCTO*/



.barraBusqueda {
    display: block;
    padding-top: 8px;
    margin-top: 5px;
    text-align: center;
    background-color: white;
    border-top: solid 1px;
    border-color: #46494C;
    width: auto;
    height: 10%;
}

#searchInput {
    font-family: "Open Sans";
    font-Size: 16px;
}

/*-------*/

.centroA {
    display: flex;
    margin-top: 5px;
}

.imgProductoPrincipal {
    background-color: rgb(190, 189, 189);
    width: 40%;
    height: 302px;
    margin: 5px;
}

.bloqueImgAlternativas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /*border: solid red 1px;*/
    width: 10%;
    height: 302px;
    margin: 5px;
}

#imgAlt {
    
    background-color: rgb(190, 189, 189);
    width: 100%;
    height: 32%;
    
}

/*----------*/

.productoColumnaA {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 300px;
    margin: 5px;
}

.filasA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

#Titulos1 {
    display: flex;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    padding: 1px;
    margin: 1px;
    flex-grow: 1;
    align-items: center;
    align-content: center;
}

#iconos1 {
    display: flex;
    font-size: 30px;
    padding: 1px;
    margin: 1px;
    align-self: center;
    align-items: center;
    align-content: center;
}

#descIcon {
    display: flex;
    font-size: 30px;
    padding: 1px;
    margin-right: 8px;
    align-self: center;
    align-items: center;
    align-content: center;
}

#Titulos2 {
    display: flex;
    font-family: "Open Sans";
    font-size: 14px;
    padding: 1px;
    margin: 1px;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    align-items: center;
    align-content: center;
}

#Titulos3 {
    display: flex;
    font-family: "Open Sans";
    font-size: 14px;
    padding: 1px;
    margin: 1px;
    align-items: center;
    align-content: center;
}

#talles {
    display: flex;
    font-family: "Open Sans";
    font-size: 16px;
    padding: 1px;
    margin: 1px;
    flex-grow: 1;
    align-items: center;
    align-content: center;
}

#buttonSubmit {
    display: flex;
    transition-duration: 0.4s;
    padding: 5px;
    margin: 1px;
    flex-grow: 1;
    font-family: "Open Sans";
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
}
      
#buttonSubmit:hover {
    background-color: grey;
    color: white;
}

#iconos2 {
    display: flex;
    font-size: 30px;
    padding: 1px;
    margin-left: auto;
    align-items: center;
    align-content: center;
    border: none;
    background-color: white;
}

#iconos2:hover {
    color: blue;
}


#anadirAlCarrito {
    display: flex;
    font-family: "Open Sans";
    font-size: 16px;
    padding: 5px;
    margin: 1px;
    flex-grow: 1;
    background-color:black;
    color: white;
}

#verGuiaDeTalles {
    display: flex;
    font-family: "Open Sans";
    font-size: 14px;
    padding: 5px;
    margin: 1px;
    flex-grow: 1;
    border: solid 2px grey;
    color: grey;
}

#verGuiaDeTalles:hover {
    background-color: grey;
    color: white;
}

#heartIcon {
    display: flex;
    font-size: 30px;
    padding: 3px;
    margin: 1px;
    align-self: center;
    align-items: center;
    align-content: center;
    border:black solid 2px;
}

#heartIcon:hover {
    background-color: black;
    color: white;
}

/*------*/

.productoColumnaB {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 300px;
    margin: 5px;
    padding-left: 5px;
    border-left: solid 1px grey;
}

.filasB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

#envios {
    display: flex;
    font-family: "Open Sans";
    font-size: 12px;
    padding: 1px;
    margin: 1px;
    align-items: center;
    align-content: center;
}

#formasEnvioPago {
    border-top: solid 1px grey;
    align-items: center;
    align-content: center;
}

/*-------------------------------------------------*/

/*BODY SHOPPING CART*/

.shopping-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    border: solid 1px;
    
    padding: 20px;
    margin:10px 0px 10px;
    font-family: "Open Sans", sans-serif;
  }

.title {
    color:black;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}
   
.item {
    display: flex;
    border-bottom:  1px solid black;
    padding: 20px 30px;
    height: 120px;
}
   
.buttons {
    padding-top: 30px;
    margin-right: 60px;
}

.delete-btn {
    display: inline-block;
}

.image {
    margin-right: 50px;
}
   
.description {
    padding-top: 10px;
    margin: auto;
    width: 115px;
}
   
.description span {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.quantity {
    padding-top: 20px;
    margin: auto;
}
  
.quantity input{
    border: none;
    text-align: center;
    width: 20px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.total-price {
    margin: auto;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
}

/*-------------------------------------------------*/

/*PRODUCT LIST*/

.product-list-main{
    display: flex;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    
    flex-direction: column;
}

.filter-list{
    display: flex;
    flex-direction: row;
    width: 300px;
    border: solid 1px #4C5C68 ;
    margin: auto;
    font-size: 10px;
}

.grid-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-product-grid{
    width: 100%;
    height: auto;
    display: block;
}

.product-item{
    width: 300px;
    border: 1px solid #4C5C68;
    margin: 5px;
    display: inline-block;
    text-align: center;
    background-color: #DCDCDD;
    box-shadow : 0px 0px 8px rgb(138, 137, 137);
}

.product-price{
    color: #46494C;
}

.view-product{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.add-to-cart{
    display: flex;
    justify-content: center;
    color: #DCDCDD;
    padding: 15px;
    background-color: #000;
    font-size: 18px;
}

.add-to-cart:hover{
    opacity: 0.5;
}

.input {
    margin-right: 7px;
}

.filter-list h2{
    display: none;
}

.filter-type{
    border-bottom: solid 1px black;
    margin: 0px 15px 0px 15px;
}

.filter-type div{
    margin-bottom: 10px;
}


@media (min-width:760px){
    
    .product-list-main{
        flex-direction: row;
    }

    .filter-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        font-size: 11px;
        margin: 5px;
    }

    .filter-list h3{
        text-align: center;
    }

    .filter-list h2{
        display: flex;
        justify-content: center;
    }

    .filter-type{
        align-items: center;
        border-bottom: solid 1px black;
        margin: 0px 3px 0px 3px;
    }    

    .grid-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1px;
    }

    .product-item{
        width: 300px;
        border: 1px solid #4C5C68;
        margin: 1%;
        display: inline-block;
        text-align: center;
        background-color: #DCDCDD;
        box-shadow : 0px 0px 8px rgb(138, 137, 137);
    }
}

@media (min-width:1200px){
    .product-list-main{
        flex-direction: row;
        margin: auto    ;
    }
    .filter-list{
        display: flex;
        flex-direction: column;
        width: 18%;
        font-size: 15px;
        margin: 10px;
    }
    .grid-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    .filter-type{
        border-bottom: solid 1px black;
        margin: 0px 15px 0px 15px;
    }
    .product-item{
        width: 320px;
    }

}

/*-------------------------------------------------*/

/*FOOTER*/

.footer-principal {
    display: flex;
    justify-content: space-between;
    background-color:black;
    padding: 0px 16px 0px 16px;
    width: auto;
    height: 173px;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(61, 61, 61);
}

/*LOGO DEL FOOTER*/

.logo-secundario {
    display: flex;
    align-self: center;
    padding: 16px;
    width: 120px;
    border-radius: 5px;
    background-color: white;
}

.logo-secundario img {
    width:100%;
    border-radius: 5px;
}

.endnav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px 30px 2px 30px;
    align-self: flex-start;
}

/* Style the links inside the navigation bar */
.endnav a {
    display: flex;
    float: left;
    color: white;
    text-align: center;
    padding: 8px 15px 2px 15px;
    text-decoration: none;
    font-size: 12px;
    font-family: Raleway;
}
/* Change the color of links on hover */
.endnav a:hover {
    background-color: rgb(66, 65, 65);
    color: white;
}
/* Add a color to the active/current link */
.endnav a.active {
    background-color: #252525;
    color: white;
}

/*-------------------------------------------------*/

.footer-icon {
    display: flex;
    align-self: flex-start;
    margin-top: 12px;
    width: 50px;
    text-align: center; /*el icono es interpretado como texto*/
    font-size: 50px; /*el icono es interpretado como texto*/
}


/*-------------------------------------------------*/

.footer-secundario { 
    margin: 1px 0px 0px 0px;
    background-color:black;
    padding: 1px 16px 5px 16px;
    width: auto;
    height: 27px;
    text-align: center;
    flex-wrap: none;
    align-items: center;
    color: white;
    font-family: Raleway;
    font-size: 10px;
}

/*-------------------------------------------------*/

/*LOGIN Y REGISTER*/

.form-container{
    width:50vh;
    height:50vh;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px #000;
    position:absolute;
    top:15vh;
}
.bgLogin{
    background:black;
    width:100%;
    height:100vh;
    background-size:100%;
}
/*-------------------------------------------------*/

/*MEDIA QUERIES*/








