* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
    box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
    scrollbar-width: none;
}

a { 
    color: inherit; /*le saco el color a los links*/
    background-color: transparent;
    text-decoration: none;
}

body {
    font-family: Raleway;

}
    /*font-size: 1vw;
    font-family: Raleway;
    font-weight: 400;*/
.mainError {
    margin-top: 5vh;
} 

.firstMsg h1 {
    font-size: 25vw;
    text-align: center;
    font-weight: 800;
    line-height: 0.7;
}

.secondMsg h2 {
    text-align: center;
    font-size: 7vw;
}

.thirdMsg h4 {
    text-align: center;
    font-size: 3vw;
}

.fourthMsg h6 {
    text-align: center;
    font-size: 3vw;
}

.buttonsError {
    display: inline-block;
    width: 100%;
    text-align: center;
}



.button {
    color: rgb(124, 124, 124);
    font-size: 3vw;
    margin: auto;
    background-color: transparent;
    text-decoration: none;
    border: 1px rgb(124, 124, 124) solid;
    padding: 1vw;
    margin: 1vw;
}

.button:hover {
    background-color: rgb(224, 224, 224);
}

/*----------------------------------*/

@media screen and (min-width:1024px) {
    .firstMsg h1 {
        font-size: 15vw;
    }
    
    .secondMsg h2 {
        font-size: 4vw;
    }
    
    .thirdMsg h4 {
        font-size: 1.5vw;
    }
    
    .fourthMsg h6 {
        font-size: 1.5vw;
    }
    
    .button {
        padding: 1vw;
        margin: 1vw;
        font-size: 1.5vw;
    }
}