/*BODY INDEX*/

* {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  
}

body {
  overflow-x: hidden;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

img {
    width: 100%; /* 760px x 312px */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 3.5vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(124, 124, 124, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dotSelect {
    display: block;
    margin: 1vw;
    text-align: center;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(212, 212, 212);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(124, 124, 124, 0.8);
}

.randomCategory {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: auto;
}

.category-1, .category-2, .category-3 {
    display: inline-block;
    background-color: rgb(146, 146, 146);
    width: 25vw;
    height: 25vw;
    text-align: center;
    margin: 3vw;
    border-radius: 1vw;
}



/*--------------------------------------------------------------------------------*/

/* nuevo listado de productos */
.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-title {
  font-size: 2.4em;
  font-weight: 400;
  color: var(--gray);
}

.product-card {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
}

.product-card a {
  display: block;
  text-decoration: none;
  color: black;
}

.product-card-img {
  border-bottom: 1px solid var(--light-gray);
}

.product-card-content {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-card-content h2 {
  text-decoration: none;
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}

.product-card-content span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
}

.product-card-content p {
  font-size: 1.5em;
  width: 100%;
  margin: auto;
  height: auto;
}

.product-card:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  transition: 200;
}


@media (min-width:760px){
  
  .product-list-main{
      flex-direction: row;
  }

  .filter-list{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      font-size: 11px;
      margin: 5px;
  }

  .filter-list h3{
      text-align: center;
  }

  .filter-list h2{
      display: flex;
      justify-content: center;
  }

  .filter-type{
      align-items: center;
      border-bottom: solid 1px black;
      margin: 0px 3px 0px 3px;
  }    

  .grid-container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 1px;
  }

  .product-item{
      width: 300px;
      border: 1px solid #4C5C68;
      margin: 1%;
      display: inline-block;
      text-align: center;
      background-color: #DCDCDD;
      box-shadow : 0px 0px 8px rgb(138, 137, 137);
  }
}

@media (min-width:1200px){
  .product-list-main{
      flex-direction: row;
      margin: auto    ;
  }
  .filter-list{
      display: flex;
      flex-direction: column;
      width: 18%;
      font-size: 15px;
      margin: 10px;
  }
  .grid-container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;
  }
  .filter-type{
      border-bottom: solid 1px black;
      margin: 0px 15px 0px 15px;
  }
  .product-item{
      width: 320px;
  }

}