/*BODY INDEX*/

* {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  font-family: "Open Sans";
  
}

body {
  overflow-x: hidden;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

img {
    width: 100%; /* 760px x 312px */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 3.5vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(124, 124, 124, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dotSelect {
    display: block;
    margin: 1vw;
    text-align: center;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(212, 212, 212);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(124, 124, 124, 0.8);
}

.category-wrapper {
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin: auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row; 
}

.randomCategory {
    display: flex;
    width: 30%;
    height: auto;
    margin: 3.5vw auto;
}

.randomCategory img {
  width: 100%;
}