* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
  box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
  scrollbar-width: none;
}

a { 
  color: inherit; /*le saco el color a los links*/
  background-color: transparent;
  text-decoration: none;
}

.errorsStyles {
  font-size: 3vw;
  font-family: Raleway;
  font-weight: 400;
  color: rgb(255, 0, 0);
  display: block;
  width: 100%;
  margin: auto;
}

.productForm {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding: 20px;
}

#NuevoArticulo {
    width: 100%;
    border-radius: 4px;
    font-size: 18px;
    background-color: #1985A1;
    padding: 16px 20px 16px 40px;
    margin:auto;
    color: white;
    font-family: "Open Sans";
  }

.input {
  display: block;
  margin: 5px 0px;
  text-align: center;
  font-family: "Open Sans";
}

.input input, .input input, .input select, .input textarea {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  font-family: "Open Sans";
}

#selectImage {
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    background-color: #1985A1;
    padding: 16px 20px 16px 40px;
    color: white;
    font-family: "Open Sans";
    margin: auto;
    margin-bottom: 5px;
    opacity: 0.6;
}

.inputImage {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

#image_url {
  width: 24%;
  height: 100%;
  font-size: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 100px 0px 0px 0px;
}

#eachSize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  padding: 3px 20px 3px 40px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Open Sans";
}

#idSizeText {
  font-family: "Open Sans";
  font-size: 14px;  
}

#idSize {
  width:5vw;
  padding: 5px 2px 5px 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Open Sans";
}

.choisePromo {
  display: block;
  text-align: center;
  width: 70%;
  margin: auto; 
  padding: 12px 20px 2px 40px;
  font-family: "Open Sans";
}

.choisePromo label {
  padding-right: 5vw;
  font-family: "Open Sans";
}

.productFormPie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  padding: 20px 0px;
}

.buttonCargar, .buttonBorrar, .buttonEditar {
  border-radius: 4px;
  border: none;
  color: white;
  padding: 16px 1px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin: auto;
}

.buttonCargar, .buttonEditar {
  background-color: #1985A1;
  width: 70%;
}

.buttonBorrar {
  background-color: #46494C;
  width: 29%;
}
  
.buttonCargar:hover {opacity: 1}

.buttonBorrar:hover {opacity: 1}

/*SOLO PARA EDIT*/

#ModElimArticulo {
  display: inline-block;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 12px;
  font-family: "Open Sans";
}

.container2 {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 70%;
margin: auto;
padding: 5px;
}

.container2 img {
width: 23%;
height: 15vw;
background-color: #ccc;
border-radius: 4px;
}

/*-----------------------------*/

.dropbtnSelect {
  opacity: 0.6;
  cursor:pointer;
  border-radius: 4px;
  font-size: 16px;
  background-color: #1985A1;
  padding: 12px 20px 12px 40px;
  color: white;
  font-family: "Open Sans";
  
}

.dropdownSelect {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
  }

.dropdownContentSelect {
  display: none;
  position: absolute;
  z-index: 1;
  width: 75%;
}

.dropdownContentSelect a {
  text-decoration: none;
  display: block;
}

.dropdownSelect:hover .dropdownContentSelect {
  display: block;
}

.dropdownSelect:hover .dropbtnSelect {
  opacity: 0.8;
}


/* --------------MEDIA QUERIEWS-------------- */

@media screen and (min-width: 767px) {

  .errorsStyles {
  font-size: 2vw;
  }

  #NuevoArticulo {
    width: 70%;
  }

  .input input, .input input, .input select, .input textarea {
    width: 70%;
  }
  
  .dropdownSelect {
    width: 70%;
  }

  .productFormPie {
    width: 70%;
  }

  .errorsStyles {
    font-size: 1.5vw;
    width: 70%;
  }

  .inputImage {
    width: 70%;
  }

  #selectImage {
    width: 70%;
  }

}

@media screen and (min-width: 1024px) {
  
  .errorsStyles {
    font-size: 1vw;
  }

  #NuevoArticulo {
    width: 50%;
  }

  .input input, .input input, .input select, .input textarea {
    width: 50%;
  }

  .dropdownSelect {
    width: 50%; 
  }

  .productFormPie {
    width: 50%;
  }

  .errorsStyles {
    font-size: 0.8vw;
    width: 50%;
  }

  .inputImage {
    width: 50%;
  }

  #selectImage {
    width: 50%;
  }

}

