.category-wrapper {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin: auto;
    width: 96%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row; 
  }
  
  .randomCategory {
      display: inline-block;
      width: 30%;
      height: auto;
      margin: 3.5vw auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }

  .randomCategory:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
  
  .randomCategory img {
    width: 100%; 
  }