* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
  box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
  scrollbar-width: none;
}

a { 
  color: inherit; /*le saco el color a los links*/
  background-color: transparent;
  text-decoration: none;
}

.errorsStyles {
  font-size: 1vw;
  font-family: Raleway;
  font-weight: 400;
  color: rgb(255, 0, 0);
}

.productForm {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding: 20px;
}

#NuevoArticulo {
    width: 70%;
    border-radius: 4px;
    font-size: 16px;
    background-color: #1985A1;
    padding: 12px 20px 12px 40px;
    margin:auto;
    color: white;
  }

  #ModElimArticulo {
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 12px;
  }

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding: 5px;
}

.container2 img {
  width: 23%;
  height: 15vw;
  background-color: #ccc;
  border-radius: 4px;
}

.input {
  display: block;
  margin: 5px;
  text-align: center;
}

.input input, .input input, .input select, .input textarea {
  width: 70%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px; 
}

#talle {
  width: 10%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
}

#seleccionTalle {
  margin-top: 5px;
  width: 59.5%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
}

.choisePromo {
  display: block;
  text-align: center;
  width: 70%;
  margin: auto; 
  padding: 12px 20px 2px 40px;
}

.choisePromo label {
  padding-right: 5vw;
  font-family: "Open Sans";
}

.botonesPie {
  display: block;
  width: 70%;
  margin: auto;
}

.buttonCargar, .buttonBorrar, .buttonEditar {
  border-radius: 4px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.buttonCargar, .buttonEditar {
  background-color: #1985A1;
  width: 80%;
}

.buttonBorrar {
  background-color: #46494C;
  width: 19%;
}
  
.buttonCargar:hover {opacity: 1}

.buttonBorrar:hover {opacity: 1}

.productFormPie {
  display: block;
  width: 100%;
  height: auto;
  padding: 0px 20px 20px 20px;
}

  

