/*HEADER*/
* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
    box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
    scrollbar-width: none;
}

a { 
    color: inherit; /*le saco el color a los links*/
    background-color: transparent;
    text-decoration: none;
  }

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid rgb(43, 43, 43);
    padding-bottom: 5px;
    padding-top: 5px;
}

.logo {
    display: flex;
    padding: 0px 16px 0px 16px;
    text-align: center;
    width: 140px;
    height: 80px;
    border-radius: 5px;
}

.logo img {
    width:100%;
    border-radius: 5px;
    animation-name: animationLogo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes animationLogo {
    0% { width: 100%;}
    40% {width: 100%;}
    50% {width: 80%}
    60% { width: 100%;}
    100% { width: 100%;}
}

.barra-de-navegacion {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-end;
    /*margin-left: 10%;*/
    
}

/* Style the links inside the navigation bar */
.topnav a {
    display: flex;
    flex-wrap: nowrap;
    float: left;
    color: #131212;
    text-align: center;
    padding: 8px 15px 2px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: Raleway;
    font-weight: 600
}
/* Change the color of links on hover */
.topnav a:hover {
    color: #1985A1;
    
}
/* Add a color to the active/current link 
.topnav a.active {
    background-color: #1985A1;
    color: white;
}
*/

.burger-menu {
    display: none;
}

.nav-bar-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 8px 0px 0px;
}

#iconosNav, #iconoBurger {
    text-decoration: none;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border: none;
    color: #1985A1;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
}

#iconosNav:hover {
    opacity: 1
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 5px 2px 5px;
    text-align: center;
    font-family: "Open Sans";
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    right: 15px;
    top: 35px;
}

/*-------------------------------------*/

/*MEDIA QUERIES 0-766PX*/

@media screen and (max-width: 766px) {
    
    .barra-de-navegacion {
        display: none; 
    }

    .burger-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    #iconoBurger {
        font-size: 35px;
    }

    .topnav a {
        font-size: 1.3vw;
    }

    #iconosNav {
        font-size: 20px;
    }

}




/*MEDIA QUERIES 767-1024PX*/


/*MEDIA QUERIES 882PX (solo un ajuste en el topnav)*/

@media screen and (max-width: 882px) {
    .topnav a {
        font-size: 1.3vw;
    }
}

/*MEDIA QUERIES 1024PX max*/