/*BODY PRODUCTO*/
* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
    box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
    scrollbar-width: none;
}

a { 
    color: inherit; /*le saco el color a los links*/
    background-color: transparent;
    text-decoration: none;
  }

span {
    position: absolute;
    top: 7.5vw;
    right: 1vw;
}

span a {
    width: 9vw;
    height: 3vw;
    background-color: #588cbd;
    font-size: 1vw;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.5vw;
}

/*-------*/

.centroA {
    display: flex;
    margin: 5px;
}

.imgProductoPrincipal {
    width: 50%;
    margin: 5px;
    border-radius: 4px;
}

.bloqueImgAlternativas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 15%;
    margin: 5px;
}

#imgAlt {
    border-radius: 4px;
    width: 100%;
}

/*----------*/

.Columna {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 30vw;
    margin: 5px;
}

#Titulo {
    display: inline-block;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    width: 75%;
}

#Precio {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}

#Subtitulo {
    display: block;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px;
}

.t1 {
    display: flex;
    flex-direction: row;
}

#Destacado {
    display: inline-block;
    font-size: 14px;
    background-color: #4C5C68;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 8px 10px 8px 5px;
    width: 89%;
    text-align: center;
    margin-bottom: 20px;
}

#iconoEtiqueta {
    display: inline-block;
    font-size: 20px;
    color:  #4C5C68;
    padding: 5px;
    border: 2px solid #4C5C68;
    border-radius: 4px;
    width: 10%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 2px;
}

.valoracion {
    width: 100%;
    text-align: center;
}

#stars {
    display: inline-block;
    font-size: 20px;
    color: #46494C;
    border: none;
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
}

#stars:hover {
    color: #1985A1;
}

#Detalle {
    display: block;
    font-size: 14px;
    color: #46494C;
    padding: 5px;
}

#talles {
    display: block;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 8px;
}

#buttonSubmit {
    display: inline-block;
    transition-duration: 0.4s;
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    width: 87%;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 25px;
    text-align: center;
}
      
#buttonSubmit:hover {
    background-color: grey;
    color: white;
}

#heartIcon {
    display: inline-block;
    font-size: 22px;
    border-color: black;
    width: 12%;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 2px;
    padding: 15px 0px 15px 0px;
}

#heartIcon:hover {
    background-color: black;
    color: white;
}

#buttonverGuiaDeTalles {
    display: inline-block;
    background-color:#C5C3C6;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
}

#buttonverGuiaDeTalles:hover {
    background-color: grey;
    color: white;
}

