* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
    box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
    scrollbar-width: none;
}

a { 
    color: inherit; /*le saco el color a los links*/
    background-color: transparent;
    text-decoration: none;
  }

.CentroB {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-top: 10px;
}

.envio, .pago, .compraSegura {
    display: block;
    width: 30%;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.7vw;
}

.envio i, .pago i, .compraSegura i {
    font-size: 5vw;
    padding-top: 5px;
}

.envio h5, .pago h5, .compraSegura h5 {
    background-color: #1985A1;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 2vw;
    margin: 1vw;
}

.envio p, .pago p, .compraSegura p {
    font-size: 2vw;
}

/*------------------------------*/


@media screen and (min-width: 767px) {
    
    .envio, .pago, .compraSegura {
        width: 25%;
    }

    .envio i, .pago i, .compraSegura i {
        font-size: 3.5vw;
    }
    
    .envio h5, .pago h5, .compraSegura h5 {
        font-size: 1.8vw;
    }

    .envio p, .pago p, .compraSegura p {
        font-size: 1.8vw;
    }
    
}

@media screen and (min-width: 1024px) {
    
    .envio, .pago, .compraSegura {
        
        width: 18%;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .envio i, .pago i, .compraSegura i {
        font-size: 2.2vw;
    }
    
    .envio h5, .pago h5, .compraSegura h5 {
        font-size: 1vw;
    }

    .envio p, .pago p, .compraSegura p {
        font-size: 1vw;
    }
    
}