* { /*SELECTOR UNIVERSAL, SE APLICA A TODOS LOS ELEMENTOS*/
    box-sizing: border-box; /*AYUDA A QUE NADA AUMENTE SU ANCHO PREVIAMENTE DEFINIDO*/
    scrollbar-width: none;
}

a { 
    color: inherit; /*le saco el color a los links*/
    background-color: transparent;
    text-decoration: none;
}

.errorsStyles {
    font-size: 1vw;
    font-family: Raleway;
    font-weight: 400;
    color: rgb(255, 0, 0);
}

.center {
    display: block;
    padding: 5vh 0;
    width: 100%;
    height: auto;
    background-color: rgb(82, 101, 140);
}

.form-container{
    margin: auto;
    width:80%;
    height:auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px #000;
    opacity: 0.8;
}



.form-container #img-user {
    display: block;
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 5vw;

}

.form-container #img-user img {
    display: block;
    width: 20vw;
    height: 20vw;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgb(68, 68, 68);
}

.form-container h4 {
    font-size: 4.5vw;
    font-family: Raleway;
    font-weight: 800;
    text-align: center;
    color: rgb(104, 104, 104);
}



.form-container h6 {
    padding-top: 1vw;
    font-size: 3.5vw;
    font-family: Raleway;
    font-weight: 500;
    text-align: center;
    color: rgb(104, 104, 104);
}

.form-container h6 a, .form-container a h6 {
    color: rgb(0, 0, 0);
}

.form-container label, .form-container input {
    font-size: 3.5vw;
    font-family: Raleway;
    font-weight: 600
}

#btnSubmitUser {
    display: inline-block;
    font-size: 3.5vw;
    font-family: Raleway;
    font-weight: 800;
    background-color: #1985A1;
    border-radius: 0.5vw;
    text-decoration: none;
    color: white;
    padding: 0.5vw 1vw;
}

@media screen and (min-width: 767px) {
    .form-container h4 {
        font-size: 2.5vw;
    }

    .form-container h6 {
        font-size: 1.5vw;
    }

    #btnSubmitUser {
        font-size: 1.5vw;
    }

    .form-container label, .form-container input {
        font-size: 1.5vw;
    }

    .form-container{
        width:40%;
    }

    .form-container #img-user img {
        width: 8vw;
        height: 8vw;
    }

    .form-container #img-user {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
}

@media screen and (min-width:1024px) {
    .form-container h4 {
        font-size: 2vw;
    }

    .form-container h6 {
        font-size: 1vw;
    }

    #btnSubmitUser {
        font-size: 1vw;
    }

    .form-container label, .form-container input {
        font-size: 1vw;
    }

    .form-container{
        width:40%;
    }

    .form-container #img-user img {
        width: 8vw;
        height: 8vw;
    }

    .form-container #img-user {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
}

    

