<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
     <!--agregar iconos--> 
     <script src="https://kit.fontawesome.com/42d391c3ad.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="flex-box">

        <div class="logo">
            <img src="images/logo-2.jpeg" alt="logo Madly">
        </div>
        
        <div class="barra-de-navegacion">
            <div class="topnav">
                <a class="active" href="#home">INICIO</a>
                <a href="#remeras">REMERAS</a>
                <a href="#buzos">BUZOS</a>
                <a href="#disenos">DISEÑOS</a>
                <a href="#accesorios">ACCESORIOS</a>
            </div>
        </div>

        <div class="shopping-cart-icon">
            <i class="fas fa-shopping-cart"></i>
        </div>
        
        <div class="search-icon">
            <i class="fas fa-search"></i>
        </div>

        <div class="user-icon">
            <i class="fas fa-user"></i>
        </div>

    
    </header>

    </section>


        <div class="shopping-cart">
            <div class="title">
              Carro de compras
            </div>
           
            <div class="item">
              <div class="buttons">
                <span class="delete-btn"></span>
                <span class="like-btn"></span>
              </div>
           
              <div class="image">
                <img src="item-1.png" alt="" />
              </div>
           
              <div class="description">
                <span>nombre de producto</span>
                <span>descripcion</span>
                <span>color</span>
              </div>
           
              <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                  <img src="plus.svg" alt="" />
                </button>
                <input type="text" name="name" value="1">
                <button class="minus-btn" type="button" name="button">
                  <img src="minus.svg" alt="" />
                </button>
              </div>
           
              <div class="total-price">$100</div>
            </div>
            <div class="item">
              <div class="buttons">
                <span class="delete-btn"></span>
                <span class="like-btn"></span>
              </div>
           
              <div class="image">
                <img src="item-2.png" alt=""/>
              </div>
           
              <div class="description">
                <span>nombre de producto</span>
                <span>descripcion</span>
                <span>color</span>
              </div>
           
              <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                  <img src="plus.svg" alt="" />
                </button>
                <input type="text" name="name" value="1">
                <button class="minus-btn" type="button" name="button">
                  <img src="minus.svg" alt="" />
                </button>
              </div>
           
              <div class="total-price">$100</div>
            </div>
           
    </section>

    <footer class="footer-principal">

        <div class="logo-secundario">
            <img src="images/logo-1.jpeg" alt="logo Madly">

        </div>

        <div class="links-footer-shop">
            <h3>SHOP</h3>
            <ul>
                <li>Remeras</li>
                <li>Buzos</li>
                <li>Gorros</li>
                <li>Diseños</li>
                <li>Accesorios</li>
            </ul>
        </div>

        <div class="links-footer-unite">
            <h3>UNITE</h3>
            <ul>
                <li>Registrate</li>
                <li>Login</li>
                <li>Olvidé mi contraseña</li>
                <li>Promociones</li>
                <li>Compra segura</li>
            </ul>
        </div>

        <div class="links-footer-info">
            <h3>INFO</h3>
            <ul>
                <li>Nosotros</li>
                <li>Tu compra</li>
                <li>Formas de pago</li>
                <li>Envíos</li>
                <li>Devoluciones</li>
                <li>Reclamos</li>
            </ul>
        </div>



        <div class="insta-icon">
            <i class="fab fa-instagram-square"></i>
        </div>

        <div class="face-icon">
            <i class="fab fa-facebook-square"></i>
        </div>

        <div class="tw-icon">
            <i class="fab fa-twitter-square"></i>
        </div>

    </footer>
    <div class="footer-secundario">
        <h6>Todos los derechos reservados 2020-2021</h6>
    </div>

    
</body>
</html>