<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
     <!--agregar iconos--> 
     <script src="https://kit.fontawesome.com/42d391c3ad.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="flex-box">
        <div class="logo">
            <a href="index.html"><img src="images/logo-1.jpeg" alt="logo Madly"></a>
        </div>
        
        <div class="barra-de-navegacion">
            <div class="topnav">
                <a class="active" href="#home">INICIO</a>
                <a href="#remeras">REMERAS</a>
                <a href="#buzos">BUZOS</a>
                <a href="#disenos">DISEÑOS</a>
                <a href="#accesorios">ACCESORIOS</a>
            </div>
        </div>

        <div class="nav-bar-icons">
            <a href="ShoppingCart.html"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
        <div class="nav-bar-icons">
            <a href="#buscar" ><i class="fas fa-search"></i></a>
        </div>

        <div class="nav-bar-icons">
            <a href="login.html" ><i class="fas fa-user"></i></a>
        </div>

    
    </header>

    <section>

        <div class="shopping-cart">
            <div class="title">
              Carro de compras
            </div>
           
            <div class="item">
              <div class="image">
                <img src="item-1.png" alt="articulo 1 img">
              </div>
           
              <div class="description">
                <span>nombre de producto</span>
                <span>descripcion</span>
                <span>color</span>
              </div>
           
              <div class="quantity">
                <button class="plus-btn" type="button">
                  <span>+<span>
                </button>
                <input type="text" name="name" value="1">
                <button class="minus-btn" type="button">
                  <span>-<span>
                </button>
              </div>
              <div class="total-price">$100</div>
              
              <div class="buttons">
                <button class="delete-btn" type="button">
                  <span>x<span>
                </button>
              </div>
            </div>

            <div class="item">
              <div class="image">
                <img src="item-2.png" alt="articulo 2 img">
              </div>
           
              <div class="description">
                <span>nombre de producto</span>
                <span>descripcion</span>
                <span>color</span>
              </div>
           
              <div class="quantity">
                <button class="plus-btn" type="button" >
                  <span>+<span>
                </button>
                <input type="text" name="name" value="1">
                  <button class="minus-btn" type="button" >
                    <span>-<span>
                </button>
              </div>
              <div class="total-price">$100</div>

              <div class="buttons">
                <button class="delete-btn" type="button">
                  <span>x<span>
                </button>
              </div>
           
            </div>   
            <div class="item">
                        
              <div class="image">
                <img src="item-2.png" alt="articulo 3 img">
              </div>
           
              <div class="description">
                <span>nombre de producto</span>
                <span>descripcion</span>
                <span>color</span>
              </div>
           
              <div class="quantity">
                <button class="plus-btn" type="button" >
                  <span>+<span>
                </button>
                <input type="text" name="name" value="1">
                  <button class="minus-btn" type="button" >
                    <span>-<span>
                </button>
              </div>
              <div class="total-price">$100</div>

              <div class="buttons">
                <button class="delete-btn" type="button">
                  <span>x<span>
                </button>
              </div>
 
            </div>   
    </section>

    <footer class="footer-principal">

      <div class="logo-secundario">
          <a href="./views/index.html"><img src="images/logo-1.jpeg" alt="logo Madly"></a>

      </div>

      <div class="endnav">
          <a class="active" href="#shop">SHOP</a>
          <a href="#remeras">Remeras</a>
          <a href="#buzos">Buzos</a>
          <a href="#disenos">Diseños</a>
          <a href="#accesorios">Accesorios</a>
      </div>

      <div class="endnav">
          <a class="active" href="#unite">UNITE</a>
          <a href="#registrate">Registrate</a>
          <a href="#login">Login</a>
          <a href="#promociones">Promociones</a>
      
      </div>

      <div class="endnav">
          <a class="active" href="#info">INFO</a>
          <a href="#nosotros">Nosotros</a>
          <a href="#tu compra">Tu compra</a>
          <a href="#formas de pago">Formas de Pago</a>
          <a href="#envios">Envíos</a>
          <a href="#devoluciones">Devoluciones</a>
      </div>

      <div class="endnav">
          <a class="active" href="#ayuda">AYUDA</a>
          <a href="#atencion al cliente">Atención al Cliente</a>
          <a href="#compra segura">Compra Segura</a>
          <a href="#preguntas frecuentes">Preguntas Frecuentes</a>
          <a href="#reclamos">Reclamos</a>
      </div>



      <div class="footer-icon">
          <i class="fab fa-instagram-square"></i>
      </div>

      <div class="footer-icon">
          <i class="fab fa-facebook-square"></i>
      </div>

      <div class="footer-icon">
          <i class="fab fa-twitter-square"></i>
      </div>

  </footer>
      <div class="footer-secundario">
          <p>2020-2021</p>
      </div>

  
</body>
</html>

    