<%- include('../partials/head'); %>

<body>

<div class="mainError">
    <div class="firstMsg"><h1>404</h1></div>
    <div class="secondMsg"><h2>Page not found</h2></div>
    <div class="thirdMsg"><h4>Ha habido un error inesperado en el proceso</h4></div>
</div>

<div class="buttonsError">
    <a href="/"><button class="button">Volver al inicio</button></a>
    <a href="#Envianos un mensaje"><button class="button">Enviar un mensaje reportando el error</button></a>
</div>

<div class="mainError">
    <div class="fourthMsg"><h6>En breve analizaremos el error y te brindaremos una respuesta</h6></div>
</div>


</body>


</html>