<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>

    <div class="firstMsg"><h1>404</h1></div>
    <div class="secondMsg"><h2>Page not found</h2></div>
    <div class="thirdMsg"><h4>Ha habido un error inesperado en el proceso</h4></div>


    <button>Volver al inicio</button>

    <button>Enviar un mensaje reportando el error</button>

    <div class="fourthMsg"><h6>En breve analizaremos el error y te brindaremos una respuesta</h6></div>



</body>


</html>