<%- include('../partials/head'); %>

<body>

    <div class="1msg"><h1>404</h1></div>
    <div class="2msg"><h2>Page not found</h2></div>
    <div class="3msg"><h4>Ha habido un error inesperado en el proceso</h4></div>


    <button>Volver al inicio</button>

    <button>Enviar un mensaje reportando el error</button>

    <div class="4msg"><h6>En breve analizaremos el error y te brindaremos una respuesta</h6></div>



</body>


</html>