<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

    <section class="slider-principal">

    </section>
    
    <%- include('../partials/footer'); %>
    
</body>
</html>