<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-2">

      
            <h2>Filtrar</h2>
        
            <div class="filter-type"> 
                <h3>Tipo</h3>
                <div><input type="checkbox" name="tipo-producto" value="remera" id="remera"><label for="remera">Remera</label></div>
                <div><input type="checkbox" name="tipo-producto" value="campera" id="campera"><label for="campera">Campera</label></div>
                <div><input type="checkbox" name="tipo-producto" value="pant" id="pant"><label for="pant">Pantalon</label></div>
                <div><input type="checkbox" name="tipo-producto" value="accesorios" id="accesorios"><label for="accesorios">Accesorios</label></div>
                <div><input type="checkbox" name="tipo-producto" value="outlet" id="outlet"><label for="outlet">Outlet</label></div>
            </div>
            
            <div class="filter-type">
                <h3>Talle</h3>
                <div><input type="checkbox" name="size" value="small" id="small"><label for="small">Small</label></div>
                <div><input type="checkbox" name="size" value="medium" id="medium"><label for="medium">Medium</label></div>
                <div><input type="checkbox" name="size" value="large" id="large"><label for="large">Large</label></div>
                <div><input type="checkbox" name="size" value="xlarge" id="xlarge"><label for="xlarge">Extra Large</label></div>
                <div><input type="checkbox" name="size" value="xxlarge" id="xxlarge"><label for="xxlarge">2X Large</label></div>
            </div>
            
            <div class="filter-type">
                <h3>Color</h3>
                <div><input type="checkbox" name="color" value="blk" id="blk"><label for="blk">Negro</label></div>
                <div><input type="checkbox" name="color" value="red" id="red"><label for="red">Rojo</label></div>
                <div><input type="checkbox" name="color" value="blue" id="blue"><label for="blue">Azul</label></div>
                <div><input type="checkbox" name="color" value="white" id="white"><label for="white">Blanco</label></div>
                <div><input type="checkbox" name="color" value="green" id="green"><label for="green">Verde</label></div>
                <div><input type="checkbox" name="color" value="pink" id="pink"><label for="pink">Rosa</label></div>
                <div><input type="checkbox" name="color" value="salmon" id="salmon"><label for="salmon">Salmon</label></div>
            </div>
            
          </div>

          <div class="col-8">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              
              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg">Añadir al carro</button>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg">Añadir al carro</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg" >Añadir al carro</button>
                    </div>                  
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg">Añadir al carro</button>
                    </div>                  
                  </div>
                </div>
              </div>
              
              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg">Añadir al carro</button>
                    </div>                  
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg">Añadir al carro</button>
                    </div>                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div> 
      </div>
      <%- include('../partials/footer'); %>
</body>
</html>