<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
     <!--agregar iconos--> 
     <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css" crossorigin="anonymous">
     <script src="https://kit.fontawesome.com/42d391c3ad.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="flex-box">
        <div class="logo">
            <a href="index"><img src="images/logo-1.jpeg" alt="logo Madly"></a>
        </div>
        
        <div class="barra-de-navegacion">
            <div class="topnav">
                <a class="active" href="index">INICIO</a>
                <a href="listadoProductos">REMERAS</a>
                <a href="listadoProductos">BUZOS</a>
                <a href="listadoProductos">DISEÑOS</a>
                <a href="listadoProductos">ACCESORIOS</a>
                <a href="producto">PRODUCTO</a>
            </div>
        </div>

        <div class="nav-bar-icons">
            <a href="ShoppingCart"><button id="iconosNav" class="fas fa-shopping-cart"></button></a>
        </div>
        
        <div class="nav-bar-icons">
            <div class="dropdown">
            <a href=#buscar><button id="iconosNav" class="fas fa-search"></button></a>
            
                
                <div class="dropdown-content">
                <p>Qué estás buscando?</p>
                </div>
              </div>
        </div>

        <div class="nav-bar-icons">
            <a href="login"><button id="iconosNav" class="fas fa-user"></button></a>
        </div>

    
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-2">

      
            <h2>Filtrar</h2>
        
            <div class="filter-type"> 
                <h3>Tipo</h3>
                <div><input type="checkbox" name="tipo-producto" value="remera" id="remera"><label for="remera">Remera</label></div>
                <div><input type="checkbox" name="tipo-producto" value="campera" id="campera"><label for="campera">Campera</label></div>
                <div><input type="checkbox" name="tipo-producto" value="pant" id="pant"><label for="pant">Pantalon</label></div>
                <div><input type="checkbox" name="tipo-producto" value="accesorios" id="accesorios"><label for="accesorios">Accesorios</label></div>
                <div><input type="checkbox" name="tipo-producto" value="outlet" id="outlet"><label for="outlet">Outlet</label></div>
            </div>
            
            <div class="filter-type">
                <h3>Talle</h3>
                <div><input type="checkbox" name="size" value="small" id="small"><label for="small">Small</label></div>
                <div><input type="checkbox" name="size" value="medium" id="medium"><label for="medium">Medium</label></div>
                <div><input type="checkbox" name="size" value="large" id="large"><label for="large">Large</label></div>
                <div><input type="checkbox" name="size" value="xlarge" id="xlarge"><label for="xlarge">Extra Large</label></div>
                <div><input type="checkbox" name="size" value="xxlarge" id="xxlarge"><label for="xxlarge">2X Large</label></div>
            </div>
            
            <div class="filter-type">
                <h3>Color</h3>
                <div><input type="checkbox" name="color" value="blk" id="blk"><label for="blk">Negro</label></div>
                <div><input type="checkbox" name="color" value="red" id="red"><label for="red">Rojo</label></div>
                <div><input type="checkbox" name="color" value="blue" id="blue"><label for="blue">Azul</label></div>
                <div><input type="checkbox" name="color" value="white" id="white"><label for="white">Blanco</label></div>
                <div><input type="checkbox" name="color" value="green" id="green"><label for="green">Verde</label></div>
                <div><input type="checkbox" name="color" value="pink" id="pink"><label for="pink">Rosa</label></div>
                <div><input type="checkbox" name="color" value="salmon" id="salmon"><label for="salmon">Salmon</label></div>
            </div>
            
          </div>

          <div class="col-8">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              
              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg">Añadir al carro</button>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg">Añadir al carro</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg" >Añadir al carro</button>
                    </div>                  
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg">Añadir al carro</button>
                    </div>                  
                  </div>
                </div>
              </div>
              
              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg">Añadir al carro</button>
                    </div>                  
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card h-100">
                  <img src="http://placehold.it/200x150&text=Product-img" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-dark btn-lg">Añadir al carro</button>
                    </div>                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
          
      </div>

    <footer class="footer-principal">

      <div class="logo-secundario">
          <a href="index"><img src="images/logo-1.jpeg" alt="logo Madly"></a>

      </div>

      <div class="endnav">
          <a class="active" href="#shop">SHOP</a>
          <a href="listadoProductos">Remeras</a>
          <a href="listadoProductos">Buzos</a>
          <a href="listadoProductos">Diseños</a>
          <a href="listadoProductos">Accesorios</a>
          <a href="producto">Producto</a>
      </div>

      <div class="endnav">
          <a class="active" href="#unite">UNITE</a>
          <a href="register">Registrate</a>
          <a href="login">Login</a>
          <a href="#promociones">Promociones</a>
      
      </div>

      <div class="endnav">
          <a class="active" href="#info">INFO</a>
          <a href="#nosotros">Nosotros</a>
          <a href="#tu compra">Tu compra</a>
          <a href="#formas de pago">Formas de Pago</a>
          <a href="#envios">Envíos</a>
          <a href="#devoluciones">Devoluciones</a>
      </div>

      <div class="endnav">
          <a class="active" href="#ayuda">AYUDA</a>
          <a href="#atencion al cliente">Atención al Cliente</a>
          <a href="#compra segura">Compra Segura</a>
          <a href="#preguntas frecuentes">Preguntas Frecuentes</a>
          <a href="#reclamos">Reclamos</a>
      </div>

      <div class="footer-icon">
          <a href="#instagram"><i class="fab fa-instagram-square"></i></a>
      </div>

      <div class="footer-icon">
          <a href="#facebook"><i class="fab fa-facebook-square"></i></a>
      </div>

      <div class="footer-icon">
          <a href="#twitter"><i class="fab fa-twitter-square"></i></a>
      </div>

      <div class="footer-icon-message">
          <i class="far fa-comment-dots"></i>
      </div>

  </footer>
      <div class="footer-secundario">
          <p>2020-2021</p>
      </div>

  
</body>
</html>