<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

    <%- include('../partials/pForm'); %>

    <section class="productFormPie">
        <div class="botonesPie">
            <button class="buttonCargar">Cargar</button>
            <button class="buttonBorrar">Borrar</button>
        </div>
    </section>

    <%- include('../partials/footer'); %>
    
</body>
</html>
    

    