<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>
    

    <section class="barraBusqueda">        
        <form action="/procesoDeInformacion" method="POST">
            <input id="searchInput" type="search" name="busqueda" placeholder="Buscar" size="40">
        </form>
    </section>

    <section class="centroA">
        <div class="imgProductoPrincipal"></div>
        <div class="bloqueImgAlternativas">
            <div id="imgAlt"></div>
            <div id="imgAlt"></div>
            <div id="imgAlt"></div>
        </div>
        <div class="productoColumnaA">
            <div class="filasA">
                <h1 id="Titulos1">Producto de ejemplo 2</h1>
                <i id="iconos1"class="fas fa-tshirt"></i>
            </div>
            <div class="filasA">
                <h4 id="Titulos2">Subtítulo del Producto</h4>
            </div>
            <div class="filasA">                
                <p id="Titulos2">Producto con % de Descuento</p>
                <i id="descIcon" class="fas fa-percentage"></i>                
            </div>
            <div class="filasA">
                <h2 id="Titulos1">$ Precio</h2>
            </div>
            <div class="filasA">
                <p id="Titulos3">Elegí tu talle</p>
                <form id="talles" action="/action_page.php">
                    <select id="talles" name="talles">
                      <option value="XS">XS Extra Small</option>
                      <option value="S ">S Small</option>
                      <option value="M">M Medium</option>
                      <option value="L">L Large</option>
                      <option value="XL">XL Extra Large</option>
                    </select>
                </form>
            </div>
            <div class="filasA">
                <button id="buttonSubmit" type="button"><h3 id="textoCentrado">Añadir al Carrito</h3></button>
                <button id="heartIcon" type="button" onclick="alert('Gracias por tu like!')" class="far fa-heart"></button>
            </div>
            <div class="filasA">
                <button id="verGuiaDeTalles">
                    <p id="textoCentrado">VER GUÍA DE TALLES</p></button>
            </div>
        </div>
        <div class="productoColumnaB">
            <div class="filasB">
                <h6 id="Titulos3">VALORACIÓN</h6>
                <button id="iconos2" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="iconos2" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="iconos2" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="iconos2" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="iconos2" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
            </div>
            <div class="filasB" id="formasEnvioPago">            
            <p id="Titulos2">
                Detalle del producto 1<br>
                Detalle del producto 2<br>
                Detalle del producto 2<br>
            <i id="iconos2" class="fas fa-tags"></i>
            </p>            
            </div>
            <div class="filasB" id="formasEnvioPago">
                <h4 id="Titulos2">PRODUCTO DISPONIBLE</h4>
                    <p id="Titulos2">
                    Envío en 24/72 hs<br>
                    Ver Condiciones<br>
                <i id="iconos2" class="fas fa-truck"></i>
                </p>
            </div>
            <div class="filasB" id="formasEnvioPago">            
                <h4 id="Titulos2">FORMAS DE PAGO</h4>
                <p id="Titulos2">Podés pagar hasta en 12 cuotas<br>
                Medios de Pago:<br>
                Efectivo<br>
                Tarjeta de Débito<br>
                Tarjeta de Crédito<br>               
                <i id="iconos2" class="fas fa-credit-card"></i>
                </p>
            </div>
    </section>
    
    <%- include('../partials/footer'); %>
</body>
</html>