<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

    <form action="/products/create" method="POST" autocomplete="off" enctype="multipart/form-data" class="m-auto col-md-7">
        <section class="productForm">

            <div class="input">
                <h4 id="NuevoArticulo">Nuevo Artículo</h4>
            </div>

            <div class="input">
                <input class="m-auto" type="file" name="main_image" class="form-control" id="main_image" >
            </div>
            
            <div class="input">
                <input type="text" name="name" placeholder="Título">
            </div>

            <div class="input">
                <input type="text" name="price" placeholder="Precio">
            </div>

            <div class="input">
                <select id="category" name="category">
                    <option value="t-shirt">Remeras</option>
                    <option value="hoodie">Buzos</option>
                    <option value="accessory">Accesorios</option>
                </select>
            </div>

            <div class="input">
                <label id="talle" for="XS">XS</label>
                <input id="seleccionTalle" type="number" id="cantidad" name="cantidad" placeholder="Cantidad"><br>
                <label id="talle" for="S">S</label>
                <input id="seleccionTalle" type="number" id="cantidad" name="cantidad" placeholder="Cantidad"><br>
                <label id="talle" for="M">M</label>
                <input id="seleccionTalle" type="number" id="cantidad" name="cantidad" placeholder="Cantidad"><br>
                <label id="talle" for="L">L</label>
                <input id="seleccionTalle" type="number" id="cantidad" name="cantidad" placeholder="Cantidad"><br>
                <label id="talle" for="XL">XL</label>
                <input id="seleccionTalle" type="number" id="cantidad" name="cantidad" placeholder="Cantidad"><br>
            </div>

            <div class="input">
                <textarea name="description" rows="2" cols="10" placeholder="Descripción breve"></textarea>
            </div>

            <div class="input">
                <textarea name="full_description" rows="5" cols="10" placeholder="Descripción detalla / caracteristicas"></textarea>
            </div>

            <div class="input">
                <input type="number" id="discount" name="discount" placeholder="Ingrese % de descuento"><br>
            </div>

            <div class="input">
                <select id="condition" name="condition">
                    <option value="sale">Sale</option>
                    <option value="new in">Nuevo lanzamiento</option>
                    <option value="available" selected >Disponible</option>
                </select>
            </div>
            
        </section>
    
        <section class="productFormPie">
            <div class="botonesPie">
                <button class="buttonCargar" type="submit">Cargar</button>
                <button class="buttonBorrar" type="reset">Borrar</button>
            </div>
        </section>
    </form>

    <%- include('../partials/footer'); %>
    
</body>
</html>
    

    