<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>
    

    <section class="barraBusqueda">        
        <form action="/procesoDeInformacion" method="POST">
            <input id="searchInput" type="search" name="busqueda" placeholder="Buscar" size="40">
        </form>
    </section>

    <section class="centroA">
        <div class="imgProductoPrincipal"></div>
        <div class="bloqueImgAlternativas">
            <div id="imgAlt"></div>
            <div id="imgAlt"></div>
            <div id="imgAlt"></div>
        </div>
        <div class="Columna">
            <div>
                <h4 id="Titulo">Producto de ejemplo 2</h4>
                <h4 id="Precio">$ Precio</h4>
            </div>
            <div>
                <h4 id="Subtitulo">Subtítulo del Producto</h4>
            </div>
            <div class="t1">
                <h4 id="Destacado">Producto con % de Descuento</h4>
                <i id="iconoEtiqueta" class="fas fa-tags"></i>
            </div>
            <div class="valoracion">
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
            </div>
            <div>
                <p id="Detalle">
                    Detalle del producto 1<br>
                    Detalle del producto 2<br>
                    Detalle del producto 3<br>
                    Detalle del producto 4<br>
                    Detalle del producto 5<br>
                    Detalle del producto 6<br>
                    Detalle del producto 7<br>
                    Detalle del producto 8
                </p>
            </div>
            <div>
                <form id="talles" action="#talle">
                    <select id="talles" name="talles">
                        <option value="null">Elegí tu talle</option>
                        <option value="XS">XS Extra Small</option>
                        <option value="S ">S Small</option>
                        <option value="M">M Medium</option>
                        <option value="L">L Large</option>
                        <option value="XL">XL Extra Large</option>
                    </select>
                </form>
            </div>
            <div class="t1">
                <button id="buttonSubmit" type="button">Añadir al Carrito</button>
                <button id="heartIcon" type="button" onclick="alert('Gracias por tu like!')" class="far fa-heart"></button>
            </div>
            <div>
                <button id="buttonverGuiaDeTalles">VER GUÍA DE TALLES</button>
            </div>
        </div>
    </section>
    <section class="CentroB">  
        <div class="envioI">
            <h5>PRODUCTO DISPONIBLE</h5>
            <p>Envío en 24/72 hs<br>
                Ver Condiciones<br>
            <i class="fas fa-truck"></i>
        </p>
        </div>
        <div class="pagoD">            
            <h5>FORMAS DE PAGO</h5>
            <p>Hasta en 12 cuotas<br>
                Tarjeta de Crédito<br>
            <i class="fas fa-credit-card"></i>
            </p>
        </div>
    </section>
    
    
    <%- include('../partials/footer'); %>
</body>
</html>