<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>



<!-- BANNERINFO -->

  <%- include('../partials/bannerInfo'); %>
  <script src="/js/cart.js" type="text/javascript">    </script>

<!-- Mostrar las categorías en oferta -->


<!-- FOOTER -->
    
  <%- include('../partials/footer'); %>
    
</body>
</html>