<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>


    
    
    
    

    <div id="reactApp"></div>

    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script type="text/babel" src="/components/App.js"></script>

    



<%- include('../partials/footer'); %>
    
</body>
</html>