<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

    <section class="container-fluid bgLogin">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-4">
                <form class="form-container">
                    <h4>Bienvenid@ a Madly Artsy!</h4>
                    <br/>
                    <br/>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Introduzca su e-mail">
                      
                    </div>
                    <br/>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Introduzca su contraseña">
                    </div>
                    <br/>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Recordame</label>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                  </form>
            </section>
        </section>
    </section>
    
    <%- include('../partials/footer'); %>
</body>
</html>