<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>
    
      <div class="center">
      
        <form class="form-container" autocomplete="false" action="" method="POST">
          <h4>Olvidaste tu contraseña?</h4>
          <h6>Ingresá tu email para poder resetear tu contraseña</h6>
          
          <div id="img-user">
          <img src="/images/avatars/imagen-user-1.jpg" alt="login_user">
        </div>
        
            
              <% if(locals.errors){ 
                errors.forEach(error => {%>
                  <p><% error.msg %></p>
                    <% })
                      }
                        %>
                          
                    
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Introduzca su e-mail" required>
                        <div class= "errorsStyles">  
                          <ul id="errorFrontEmail">
            
                          </ul>
                        </div>
                      <% if (locals.errors && errors.email) {%> 
                        <div><%=errors.email.msg %> </div>
                        <% } %>
                    
                    <br/>
                    
                      
            <br/>
          <button type="submit" class="btn btn-primary btn-block">Resetear mi contraseña</button>
          <h6>Recibirás en tu casilla de email el link para poder resetear tu contraseña</h6>
        </form>
      </div> 
    
    <%- include('../partials/footer'); %>
  <script src="/js/validationRecoveryFront.js" type="text/javascript"></script>
</body>
</html>